



#contact-form2 {
    /* margin-top: 390px;
    margin-left: 450px; */
    border: 5px solid #3d366b;
    position: fixed;
    margin: auto;
    
  }
   h2 {
    color: #3d366b;
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 65px 40px 0px 350px;
    
  
  }
  #contact-form2 input  {
    width: 80%;
    height: 30px;
    border-radius: 25px;
    background-color: #7b6ad8ab;
    border: none;
    outline: none;
    font-weight:80;
    padding: 0px 15px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 450px;
    position: relative;
    z-index: 1;
  }
  
  #contact-form2 input::placeholder {
    color: #ffffff70;
  }
  
  #contact-form2 button {
    width: 30%;
    border: none;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    background-color: #7b6ad8ab;;
    padding: 0px 25px;
    border-radius: 25px;
    color: #fff;
    transition: all .4s;
    position: relative;
    margin-bottom: 20px;
    margin-left: 450px;
    z-index: 3;
  }
  
  #contact-form2 button:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #433788ab;
  }